.vs/
MP.WindowsServices.CentralServerNotifyer/bin/
MP.WindowsServices.CentralServerNotifyer/obj/
MP.WindowsServices.Common/bin/
MP.WindowsServices.Common/obj/
MP.WindowsServices.DependencyResolver/bin/
MP.WindowsServices.DependencyResolver/obj/
MP.WindowsServices.FileStorageObserver/bin/
MP.WindowsServices.FileStorageObserver/obj/
MP.WindowsServices.ImagesManager/bin/
MP.WindowsServices.ImagesManager/obj/
MP.WindowsServices.ServiceInstance/bin/
MP.WindowsServices.ServiceInstance/obj/
MP.WindowsServices.WorkflowBuilder/bin/
MP.WindowsServices.WorkflowBuilder/obj/
packages/
MP.WindowsServices.CentralServer/bin/
MP.WindowsServices.CentralServer/obj/
MP.WindowsServices.CentralServerListener/bin/
MP.WindowsServices.CentralServerListener/obj/
MP.WindowsServices.MQManager/bin/
MP.WindowsServices.MQManager/obj/
MP.WindowsServices.AOP/bin/
MP.WindowsServices.AOP/obj/
